*.aux
*.bbl
*.blg
*.log
*.out
/AutoCF_Proj/
/AutoCF-src
/data
/__pycache__
/bore_meta
/box_violin_plot
/emb_random
/lr_random
/sample_random
/save/log
/save/log_sub
/save/tensorboard
/save/tensorboard_sub
/val_structure
/weight_random
*.abc
*.jpg